@font-face {
  font-family: "Made Tommy";
  src: url("./fonts/MadeTommy/MADETOMMYBold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Made Tommy";
  src: url("./fonts/MadeTommy/MADETOMMYRegular.otf") format("opentype");
}

@font-face {
  font-family: "RB No 2.1a";
  src: url("./fonts/RBNo2.1a/RBNo2.1a-BlackItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "RB No 2.1a";
  src: url("./fonts/RBNo2.1a/RBNo2.1a-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Techead";
  src: url("./fonts/Techead/Techead.otf") format("opentype");
}
